@import "../vendor/skeleton-sass/skeleton";

$container-padding: 100px;
$primary-black: rgb(30, 30, 30);
$primary-font-color: rgb(117, 117, 117);
$primary-font: "Mulish", sans-serif;
$text-shadow: 0px 0px 3px black;

@mixin headings($margin: 0px) {
  font-weight: lighter;
  margin-bottom: $margin;
  text-align: center;
}

@import "parts/main";
@import "parts/header";
@import "parts/service";
@import "parts/feature";
@import "parts/clients";
@import "parts/team";
@import "parts/contact";
@import "parts/footer";
