@charset "UTF-8";
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
/* Base files. */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active {
  outline: 0;
}

a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

a {
  color: #1eaedb;
}

a:hover {
  color: #1b9cc5;
}

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

.u-full-width {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

@media (min-width: 550px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
}

/* Modules */
/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .column,
  .columns {
    margin-left: 4%;
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .one.column,
  .one.columns {
    width: 4.66667%;
  }
  .two.columns {
    width: 13.33333%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.66667%;
  }
  .five.columns {
    width: 39.33333%;
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 56.66667%;
  }
  .eight.columns {
    width: 65.33333%;
  }
  .nine.columns {
    width: 74%;
  }
  .ten.columns {
    width: 82.66667%;
  }
  .eleven.columns {
    width: 91.33333%;
  }
  .twelve.columns {
    width: 100%;
    margin-left: 0;
  }
  .one-third.column {
    width: 30.66667%;
  }
  .two-thirds.column {
    width: 65.33333%;
  }
  .one-half.column {
    width: 48%;
  }
  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%;
  }
  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%;
  }
  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%;
  }
  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%;
  }
  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%;
  }
  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%;
  }
  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%;
  }
  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%;
  }
  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%;
  }
  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%;
  }
  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%;
  }
  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%;
  }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%;
  }
  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%;
  }
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button:hover,
button:hover {
  color: #333;
  border-color: #888888;
  outline: 0;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #333;
  border-color: #888888;
  outline: 0;
}

.button:focus,
button:focus {
  color: #333;
  border-color: #888888;
  outline: 0;
}

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #333;
  border-color: #888888;
  outline: 0;
}

.button.button-primary,
button.button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}

input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
  color: #fff;
  background-color: #33c3f0;
  border-color: #33c3f0;
}

.button.button-primary:hover,
button.button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

.button.button-primary:focus,
button.button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #1eaedb;
  border-color: #1eaedb;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

textarea:focus,
select:focus {
  border: 1px solid #33c3f0;
  outline: 0;
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul, ul ol {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

button,
.button {
  margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
}

p {
  color: #757575;
}

.circle-image {
  width: 200px;
  border-radius: 200%;
  height: 200px;
  border: solid 5px white;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 620px;
}

.header {
  height: 620px;
  background-image: url("../img/header-background-edited.jpg");
  background-size: cover;
  /*Resize image to cover entire container*/
  background-position: 50% 60%;
}

.header-navbar-left {
  color: white;
  float: right;
  margin-top: 50px;
}

.header-navbar-left li {
  float: left;
  list-style-type: none;
  margin-left: 26px;
  text-shadow: 0px 0px 3px black;
}

.header-navbar-left a {
  text-decoration: none;
  color: white;
}

.header-navbar-left a:hover {
  text-decoration: underline;
  color: #757575;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-brand-wrapper {
  margin-top: 50px;
  float: left;
}

.header-brand {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  display: block;
  /* Inline Element in ein Block Element*/
  margin-top: -6%;
  text-shadow: 0px 0px 3px black;
}

.slogan {
  padding-top: 110px;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 3px black;
}

.slogan-top {
  font-size: 170%;
  font-weight: lighter;
  font-family: "Mulish", sans-serif;
}

.slogan-bottom {
  font-size: 250%;
  font-weight: bold;
}

.slogan-button {
  margin-top: 50px;
  color: white;
  text-shadow: 0px 0px 3px black;
}

.slogan-button:hover {
  color: white;
  text-shadow: 0px 0px 3px black;
}

.service {
  padding-top: 100px;
  padding-bottom: 100px;
}

.service-gray {
  background-color: whitesmoke;
}

.service-title {
  font-weight: lighter;
  font-family: "Mulish", sans-serif;
  color: #1e1e1e;
}

.service-icon {
  color: #e0e0e0;
  font-size: 1250%;
  text-align: center;
  margin-top: -10%;
  margin-bottom: -20%;
}

.features {
  padding-top: 100px;
  padding-bottom: 100px -15px;
}

.feature-icon {
  width: 70px;
  height: 60px;
  padding-top: 10px;
  background-color: #1e1e1e;
  border-radius: 35px;
  color: white;
  text-align: center;
  font-size: 30px;
  float: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feature-icon:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.feature-text {
  margin-left: 90px;
}

.feature-text h5 {
  margin-bottom: 7px;
  font-size: 150%;
  color: #1e1e1e;
}

.clients {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: whitesmoke;
}

.clients-heading {
  font-weight: lighter;
  margin-bottom: 0px;
  text-align: center;
}

.clients-subheading {
  text-align: center;
  margin-bottom: 50px;
}

.client-quote {
  border: 2px solid #ebebeb;
  background-color: white;
  padding-left: 75px;
  padding-top: 35px;
  padding-bottom: 45px;
  padding-right: 45px;
  border-radius: 3px;
  font-size: 150%;
  font-weight: lighter;
  font-style: italic;
  position: relative;
  /* Wenn ein Element mit position: absolute in einem Block mit position: relative sitzt, 
        wird der relativ positionierte Block zum Koordinatensystem des absolut positionierten Blocks. */
}

.client-quote p {
  margin-bottom: 0px;
}

.client-quote-author {
  font-style: normal;
  /*Da Elternelement italic ist und sonst das erben würde*/
  font-size: 70%;
  color: #7793c5;
  margin-left: 75px;
}

/* Arrow */
.client-quote::before,
.client-quote::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%;
  /* Mitte */
}

.client-quote::before {
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #ebebeb;
}

.client-quote::after {
  left: -26px;
  margin-top: -13px;
  border-top: 13px solid transparent;
  border-left: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 13px solid white;
}

.client-quote-left::before {
  left: auto;
  right: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #ebebeb;
}

.client-quote-left::after {
  left: auto;
  right: -26px;
  margin-top: -13px;
  border: 13px solid transparent;
  border-left: 13px solid white;
}

.team {
  background-color: #1e1e1e;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.team-heading {
  font-weight: lighter;
  margin-bottom: 0px;
  text-align: center;
}

.team-subheading {
  text-align: center;
  margin-bottom: 50px;
}

.team-name {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.team-name-desc {
  text-align: center;
  margin-bottom: 7px;
}

.team-icons, .team-image-container {
  text-align: center;
}

.team-icon {
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  /*Da ursprünglich Inline Element und somit width/height nicht geht*/
  text-align: center;
  /* float: left sollte nicht verwendet werden, da sonst text-align center nicht funktioniert*/
}

.team-icon .fa {
  margin-top: 5px;
}

.team-slogan {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  color: white;
}

.contact {
  background-color: #768fc5;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact-heading {
  color: white;
  font-weight: lighter;
  margin-bottom: 15px;
}

.contact-subheading {
  color: white;
  font-weight: lighter;
}

.contact-methods {
  color: white;
  list-style-type: none;
}

.contact-methods li {
  width: 50%;
  float: left;
  font-weight: lighter;
  height: 2.5em;
}

.contact-methods .fa {
  font-size: 150%;
}

.contact-icon {
  display: inline-block;
  /*Breite kann man nun festsetzen (block) und erzeugt kein Zeilenumbruch durch inline*/
  width: 40px;
  text-align: center;
}

.contact-message {
  height: 140px;
}

.contact-input {
  width: 100%;
  margin-bottom: 28px;
  background-color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.contact-input:focus,
input.contact-input:focus {
  border: 1px solid #1e1e1e;
  background-color: #e6e6e6;
}

input.contact-submit[type="submit"] {
  background-color: white;
  margin-bottom: 0px;
}

.footer {
  background-color: #768fc5;
  text-align: center;
}

.footer p {
  color: white;
  font-weight: lighter;
}

.footer hr {
  margin-top: 0px;
  margin-bottom: 25px;
}
/*# sourceMappingURL=styles.css.map */