html {
  scroll-behavior: smooth;
}
body {
  font-family: "Mulish", sans-serif;
}

p {
  color: rgb(117, 117, 117);
}

.circle-image {
  width: 200px;
  border-radius: 200%;
  height: 200px;
  border: solid 5px white;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 620px;
}

.header {
  height: 620px;
  background-image: url("../img/header-background-edited.jpg");
  background-size: cover; /*Resize image to cover entire container*/
  background-position: 50% 60%;
}

.header-navbar-left {
  color: white;
  float: right;
  margin-top: 50px;
}

.header-navbar-left li {
  float: left;
  list-style-type: none;
  margin-left: 26px;
  text-shadow: 0px 0px 3px black;
}

.header-navbar-left a {
  text-decoration: none;
  color: white;
}
.header-navbar-left a:hover {
  text-decoration: underline;
  color: rgb(117, 117, 117);
  transition: all 0.5s;
}

.header-brand-wrapper {
  margin-top: 50px;
  float: left;
}

.header-brand {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  display: block; /* Inline Element in ein Block Element*/
  margin-top: -6%;
  text-shadow: 0px 0px 3px black;
}

.slogan {
  padding-top: 110px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: 0px 0px 3px black;
}
.slogan-top {
  font-size: 170%;
  font-weight: lighter;
  font-family: "Mulish", sans-serif;
}
.slogan-bottom {
  font-size: 250%;
  font-weight: bold;
}
.slogan-button {
  margin-top: 50px;
  color: white;
  text-shadow: 0px 0px 3px black;
}
.slogan-button:hover {
  color: white;
  text-shadow: 0px 0px 3px black;
}

.service {
  padding-top: 100px;
  padding-bottom: 100px;
}
.service-gray {
  background-color: rgb(245, 245, 245);
}
.service-title {
  font-weight: lighter;
  font-family: "Mulish", sans-serif;
  color: rgb(30, 30, 30);
}
.service-icon {
  color: rgb(224, 224, 224);
  font-size: 1250%;
  text-align: center;
  margin-top: -10%;
  margin-bottom: -20%;
}

.features {
  padding-top: 100px;
  padding-bottom: 85px;
}
.feature-icon {
  width: 70px;
  height: 60px;
  padding-top: 10px;
  background-color: rgb(30, 30, 30);
  border-radius: 35px;
  color: white;
  text-align: center;
  font-size: 30px;
  float: left;
  transition: all 0.5s;
}
.feature-icon:hover {
    transform: rotate(360deg);
}
.feature-text {
  margin-left: 90px;
}
.feature-text h5 {
  margin-bottom: 7px;
  font-size: 150%;
  color: rgb(30, 30, 30);
}
.clients {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(245, 245, 245);
}
.clients-heading {
  font-weight: lighter;
  margin-bottom: 0px;
  text-align: center;
}
.clients-subheading {
  text-align: center;
  margin-bottom: 50px;
}
.client-quote {
  border: 2px solid rgb(235, 235, 235);
  background-color: white;
  padding-left: 75px;
  padding-top: 35px;
  padding-bottom: 45px;
  padding-right: 45px;
  border-radius: 3px;
  font-size: 150%;
  font-weight: lighter;
  font-style: italic;
  position: relative;
  /* Wenn ein Element mit position: absolute in einem Block mit position: relative sitzt, 
    wird der relativ positionierte Block zum Koordinatensystem des absolut positionierten Blocks. */
}
.client-quote p {
  margin-bottom: 0px;
}
.client-quote-author {
  font-style: normal; /*Da Elternelement italic ist und sonst das erben würde*/
  font-size: 70%;
  color: rgb(119, 147, 197);
  margin-left: 75px;
}
/* Arrow */
.client-quote::before,
.client-quote::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%; /* Mitte */
}
.client-quote::before {
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid rgb(235, 235, 235);
}
.client-quote::after {
  left: -26px;
  margin-top: -13px;
  border-top: 13px solid transparent;
  border-left: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 13px solid white;
}
.client-quote-left::before {
  left: auto;
  right: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid rgb(235, 235, 235);
}
.client-quote-left::after {
  right: -26px;
  left: auto;
  margin-top: -13px;
  border: 13px solid transparent;
  border-left: 13px solid white;
}

.team {
  background-color: rgb(30, 30, 30);
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.team-heading {
  font-weight: lighter;
  text-align: center;
  margin-bottom: 0px;
}
.team-subheading {
  text-align: center;
  margin-bottom: 50px;
}
.team-image-container {
  text-align: center;
}
.team-name {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.team-name-desc {
  text-align: center;
  margin-bottom: 7px;
}
.team-icons {
  text-align: center;
}
.team-icon {
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block; /*Da ursprünglich Inline Element und somit width/height nicht geht*/
  text-align: center;
  /* float: left sollte nicht verwendet werden, da sonst text-align center nicht funktioniert*/
}
.team-icon .fa {
  margin-top: 5px;
}
.team-slogan {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  color: white;
}

.contact {
  background-color: rgb(118, 143, 197);
  padding-top: 100px;
  padding-bottom: 100px;
}
.contact-heading {
  color: white;
  font-weight: lighter;
  margin-bottom: 15px;
}
.contact-subheading {
  color: white;
  font-weight: lighter;
}
.contact-methods {
  color: white;
  list-style-type: none;
}
.contact-methods li {
  width: 50%;
  float: left;
  font-weight: lighter;
  height: 2.5em;
}
.contact-methods .fa {
  font-size: 150%;
}
.contact-icon {
  display: inline-block; /*Breite kann man nun festsetzen (block) und erzeugt kein Zeilenumbruch durch inline*/
  width: 40px;
  text-align: center;
}
.contact-input {
  width: 100%;
  margin-bottom: 28px;
  background-color: white;
  transition: all 1s;
}
.contact-input:focus,
input.contact-input:focus {
  border: 1px solid rgb(30, 30, 30);
  background-color: rgb(230, 230, 230);
}
.contact-message {
  height: 140px;
}
input.contact-submit[type="submit"] {
  background-color: white;
  margin-bottom: 0px;
}

.footer {
  background-color: rgb(118, 143, 197);
  text-align: center;
}
.footer p {
  color: white;
  font-weight: lighter;
}
.footer hr {
  margin-top: 0px;
  margin-bottom: 25px;
}