.clients {
  padding-top: $container-padding;
  padding-bottom: $container-padding;
  background-color: rgb(245, 245, 245);
  &-heading {
    @include headings();
  }
  &-subheading {
    text-align: center;
    margin-bottom: 50px;
  }
}
.client-quote {
  border: 2px solid rgb(235, 235, 235);
  background-color: white;
  padding {
    left: 75px;
    top: 35px;
    bottom: 45px;
    right: 45px;
  }
  border-radius: 3px;
  font {
    size: 150%;
    weight: lighter;
    style: italic;
  }
  position: relative;
  /* Wenn ein Element mit position: absolute in einem Block mit position: relative sitzt, 
        wird der relativ positionierte Block zum Koordinatensystem des absolut positionierten Blocks. */
}
.client-quote p {
  margin-bottom: 0px;
}
.client-quote-author {
  font-style: normal; /*Da Elternelement italic ist und sonst das erben würde*/
  font-size: 70%;
  color: rgb(119, 147, 197);
  margin-left: 75px;
}
/* Arrow */
.client-quote::before,
.client-quote::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 50%; /* Mitte */
}
.client-quote::before {
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid rgb(235, 235, 235);
}
.client-quote::after {
  left: -26px;
  margin-top: -13px;
  border-top: 13px solid transparent;
  border-left: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 13px solid white;
}
.client-quote-left::before {
  left: auto;
  right: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid rgb(235, 235, 235);
}
.client-quote-left::after {
  left: auto;
  right: -26px;
  margin-top: -13px;
  border: 13px solid transparent;
  border-left: 13px solid white;
}
