.contact {
  background-color: rgb(118, 143, 197);
  padding-top: $container-padding;
  padding-bottom: $container-padding;

  &-heading {
    color: white;
    font-weight: lighter;
    margin-bottom: 15px;
  }
  &-subheading {
    color: white;
    font-weight: lighter;
  }
  &-methods {
    color: white;
    list-style-type: none;
    li {
      width: 50%;
      float: left;
      font-weight: lighter;
      height: 2.5em;
    }
    .fa {
      font-size: 150%;
    }
  }
  &-icon {
    display: inline-block; /*Breite kann man nun festsetzen (block) und erzeugt kein Zeilenumbruch durch inline*/
    width: 40px;
    text-align: center;
  }
  &-message {
    height: 140px;
  }
}

.contact-input {
  width: 100%;
  margin-bottom: 28px;
  background-color: white;
  transition: all 1s;
  &:focus, input& {
    border: 1px solid $primary-black;
    background-color: rgb(230, 230, 230);
  }
}
input.contact-submit[type="submit"] {
  background-color: white;
  margin-bottom: 0px;
}
