.features {
  padding-top: $container-padding;
  padding-bottom: $container-padding -15px;
}
.feature-icon {
  width: 70px;
  height: 60px;
  padding-top: 10px;
  background-color: $primary-black;
  border-radius: 35px;
  color: white;
  text-align: center;
  font-size: 30px;
  float: left;
  transition: all 0.5s;
  &:hover {
    transform: rotate(360deg);
  }
}
.feature-text {
  margin-left: 90px;
  h5 {
    margin-bottom: 7px;
    font-size: 150%;
    color: $primary-black;
  }
}