.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 620px;
}

.header {
  height: 620px;
  background-image: url("../img/header-background-edited.jpg");
  background-size: cover; /*Resize image to cover entire container*/
  background-position: 50% 60%;
}

.header-navbar-left {
  color: white;
  float: right;
  margin-top: 50px;
}

.header-navbar-left li {
  float: left;
  list-style-type: none;
  margin-left: 26px;
  text-shadow: 0px 0px 3px black;
}

.header-navbar-left a {
  text-decoration: none;
  color: white;
}
.header-navbar-left a:hover {
  text-decoration: underline;
  color: $primary-font-color;
  transition: all 0.5s;
}

.header-brand-wrapper {
  margin-top: 50px;
  float: left;
}

.header-brand {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  display: block; /* Inline Element in ein Block Element*/
  margin-top: -6%;
  text-shadow: $text-shadow;
}

.slogan {
  padding-top: 110px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: $text-shadow;
  &-top {
    font-size: 170%;
    font-weight: lighter;
    font-family: $primary-font;
  }
  &-bottom {
    font-size: 250%;
    font-weight: bold;
  }
  &-button {
    margin-top: 50px;
    color: white;
    text-shadow: $text-shadow;
    &:hover {
      color: white;
      text-shadow: $text-shadow;
    }
  }
}