html {
  scroll-behavior: smooth;
}
body {
  font-family: $primary-font;
}

p {
  color: $primary-font-color;
}

.circle-image {
  width: 200px;
  border-radius: 200%;
  height: 200px;
  border: solid 5px white;
}
