.service {
  padding-top: $container-padding;
  padding-bottom: $container-padding;
  &-gray {
    background-color: rgb(245, 245, 245);
  }
  &-title {
    font-weight: lighter;
    font-family: $primary-font;
    color: $primary-black;
  }
  &-icon {
    color: rgb(224, 224, 224);
    font-size: 1250%;
    text-align: center;
    margin-top: -10%;
    margin-bottom: -20%;
  }
}
