.team {
  background-color: $primary-black;
  color: white;
  padding-top: $container-padding;
  padding-bottom: $container-padding;
}

.team-heading {
  @include headings();
}
.team-subheading {
  text-align: center;
  margin-bottom: 50px;
}
.team-name {
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
.team-name-desc {
  text-align: center;
  margin-bottom: 7px;
}
.team-icons, .team-image-container {
  text-align: center;
}
.team-icon {
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block; /*Da ursprünglich Inline Element und somit width/height nicht geht*/
  text-align: center;
  /* float: left sollte nicht verwendet werden, da sonst text-align center nicht funktioniert*/
  .fa {
    margin-top: 5px;
  }
}
.team-slogan {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
  color: white;
}
